.basement_row {
  position: relative;
  margin-top: 30px;
  width: 1000px;
  height: 228px;
  background-color: rgb(243, 242, 248);
  border-radius: 20px;
}

.basement_logo {
  position: absolute;
  margin-left: 20px;
  margin-top: 30px;
}

.basement_menu {
  position: absolute;
  margin-top: 30px;
  right: 442px;
}

.basement_menu li {
  list-style-type: none;
  margin-top: 5px;
  margin-left: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
  position: relative;
  transition: opacity 0.3s linear;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.link:hover::after {
  opacity: 1;
}

.basement_contacts {
  position: absolute;
  margin-top: 30px;
  right: 70px;
}

.basement_li_cont {
  list-style-type: none;
  margin-top: 5px;
  margin-left: 10px;
}

.basement_icons {
  margin-top: 5px;
  margin-left: 10px;
}

.basement_creat {
  position: absolute;
  bottom: 10px;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
}

@media (max-width: 768px) {
  .basement_row {
    width: 744px;
    height: 228px;
  }

  .basement_logo {
    margin-top: 20px;
  }

  .basement_menu {
    margin-top: 20px;
    right: 303px;
  }

  .basement_contacts {
    margin-top: 20px;
    right: 15px;
  }

  .basement_creat {
    width: 651px;
    margin-left: 63px;
  }
}

@media (max-width: 320px) {
  .basement_row {
    width: 296px;
    height: 190px;
  }

  .basement_logo {
    margin-top: 10px;
    margin-left: 10px;
  }

  .basement_menu {
    margin-top: 40px;
    right: 190px;
  }

  .basement_contacts {
    margin-top: 40px;
    right: 0px;
  }

  .basement_creat {
    width: 269px;
    margin-left: 13px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }

  .basement_li_cont {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }

  .link {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }
}

.button {
  position: absolute;
  width: 130px;
  height: 35px;
  color: black;
  background-color: white;
  border-radius: 5px;
  transition: all 0.2s ease-in;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.button:hover {
  background-color: black;
  color: white;
}

.button1 {
  position: absolute;
  width: 130px;
  height: 35px;
  line-height: 30px;
  color: white;
  background-color: black;
  border-radius: 5px;
  transition: all 0.2s ease-in;
  z-index: 1;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.button1:hover {
  background-color: white;
  color: black;
}

.button_row {
  padding-left: 360px;
}

@media (max-width: 768px) {
  .button_row {
    padding-left: 249px;
  }
}

@media (max-width: 320px) {
  .button_row {
    margin-top: 30px;
    padding-left: 70px;
    padding-bottom: 30px;
  }
}

.feedback {
  margin-top: 60px;
}

.feedback_row {
  position: relative;
}

.feedback_text {
  position: absolute;
  color: white;
  margin-top: 22px;
  margin-left: 20px;
}

.form {
  position: absolute;
  margin-top: 47px;
  right: 50px;
}

.feedback_background {
  margin-top: 10px;
  width: 850px;
  height: 250px;
  background-color: black;
  border-radius: 20px;
}

.feedback_text_h4 {
  margin-top: 5px;
  margin-left: 30px;
  width: 403px;
}

.feedback_email {
  margin-top: 100px;
}

.form_li {
  list-style-type: none;
}

.form_li input {
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 232px;
  height: 35px;
  background-color: black;
  padding-left: 10px;
  color: rgb(243, 242, 248);
}

.form_li input::-moz-placeholder {
  color: rgb(243, 242, 248);
}

.form_li input::placeholder {
  color: rgb(243, 242, 248);
}

@media (max-width: 768px) {
  .feedback_background {
    width: 634px;
    height: 240px;
  }

  .feedback_text_h4 {
    margin-left: 0px;
    width: 344px;
  }

  .form {
    margin-top: 20px;
    right: 10px;
  }

  .feedback {
    margin-top: 60px;
  }

  .feedback_email {
    margin-top: 60px;
  }
}

@media (max-width: 320px) {
  .feedback_background {
    width: 276px;
    height: 340px;
  }

  .feedback_text {
    margin-left: 10px;
    margin-top: 10px;
  }

  .feedback_text_h4 {
    margin-left: 0px;
    width: 264px;
  }

  .form {
    padding-top: 121px;
    margin: 0px auto;
  }

  .feedback_email {
    margin-top: 202px;
  }

  .feedback {
    margin-top: 90px;
  }
}

.header_row {
  position: relative;
}

.header_title {
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
  color: white;
}

.header_title2 {
  position: absolute;
  color: white;
  margin-top: 75px;
  margin-left: 25px;
  width: 336px;
}

.button_header {
  margin-left: 810px;
  line-height: 30px;
  margin-top: 365px;
}

.header_img {
  border-radius: 20px;
}

@media (max-width: 768px) {
  .button_header {
    margin-left: 572px;
    margin-top: 325px;
  }

  .header {
    margin-top: -2px;
  }

  .header_img {
    width: 744px;
    height: 380px;
  }

  .header_title2 {
    margin-top: 65px;
    margin-left: 20px;
  }
}

@media (max-width: 320px) {
  .header_img {
    width: 296px;
    height: 153px;
  }

  .header_title {
    margin-top: 5px;
    margin-left: 5px;
  }

  .header_title2 {
    margin-top: 32px;
    margin-left: 10px;
    width: 227px;
  }

  .button_header {
    margin-left: 156px;
    margin-top: 113px;
  }
}

.nav {
  padding-top: 10px;
  padding-bottom: 0%;
  position: relative;
}

.nav_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation_list ul {
  display: flex;
}

.navigation_list li {
  list-style-type: none;
  justify-content: space-between;
}

.navigation_list li:not(:last-child) {
  margin-right: 15px;
}

.nav_link {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
  position: relative;
  transition: opacity 0.3s linear;
}

.nav_link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1.5px;
  background-color: black;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.nav_link:hover::after {
  opacity: 1;
}

@media (max-width: 320px) {
  .navigation_list {
    display: none;
  }

  .Logotip {
    width: 117.45px;
    height: 20px;
  }

  .nav {
    margin-top: -7px;
  }
}

.header_row {
  position: relative;
}

.header_title {
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
  color: white;
}

.header_title2 {
  position: absolute;
  color: white;
  margin-top: 75px;
  margin-left: 25px;
  width: 336px;
}

.button_header {
  margin-left: 810px;
  line-height: 30px;
  margin-top: 365px;
}

.header_img {
  border-radius: 20px;
}

@media (max-width: 768px) {
  .button_header {
    margin-left: 572px;
    margin-top: 325px;
  }

  .header {
    margin-top: -2px;
  }

  .header_img {
    width: 744px;
    height: 380px;
  }

  .header_title2 {
    margin-top: 65px;
    margin-left: 20px;
  }
}

@media (max-width: 320px) {
  .header_img {
    width: 296px;
    height: 153px;
  }

  .header_title {
    margin-top: 5px;
    margin-left: 5px;
  }

  .header_title2 {
    margin-top: 32px;
    margin-left: 10px;
    width: 227px;
  }

  .button_header {
    margin-left: 156px;
    margin-top: 113px;
  }
}

.h5_r {
  margin-top: -5px;
  margin-bottom: 10px;
}

.novinki {
  margin-top: 20px;
}

.card_tov {
  text-decoration: none;
  color: inherit;
  transition: filter 0.5s ease-in;
  margin-bottom: 30px;
}

.card_tov:hover {
  filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.25));
}

.card_row {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px auto;
}

@media (max-width: 768px) {
  .novinki {
    margin-top: 23px;
  }

  .card_row {
    margin-bottom: 18px;
  }

  .tablet {
    display: none;
  }
}

@media (max-width: 320px) {
  .mobile {
    display: none;
  }

  .card_tov {
    margin: 0px auto;
  }

  .button_novinki {
    margin-top: 30px;
  }
}

.brand_img_row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;
}

.brand_row {
  margin-top: 70px;
}

@media (max-width: 768px) {
  .brand_row {
    margin-top: 80px;
  }
}

@media (max-width: 320px) {
  .convers {
    margin: 0px auto;
  }
}

.brands {
  margin-top: 40px;
}

.buyers_h2 {
  margin-top: 20px;
}

.buyers_p {
  margin-top: 5px;
  margin-left: 27px;
}

.buyers {
  margin-top: 30px;
}

.videos {
  margin-top: 20px;
  border-radius: 20px;
  width: 850px;
  height: 400px;
}

@media (max-width: 768px) {
  .videos {
    width: 634px;
    height: 300px;
    margin-top: 43px;
  }

  .buyers_p {
    margin-left: 57px;
  }

  .buyers_h2 {
    margin-top: 8px;
    margin-left: 14px;
  }
}

@media (max-width: 320px) {
  .videos {
    width: 276px;
    height: 150px;
    margin-top: 60px;
  }

  .buyers {
    margin-top: 50px;
  }

  .buyers_h2 {
    margin-left: 0px;
  }

  .buyers_p {
    margin-left: 25px;
  }
}

.price_column {
  display: flex;
  justify-content: space-between;
}

.price {
  margin-top: 30px;
}

.price_col {
  margin-top: 10px;
  width: 232px;
  height: 101px;
  margin-bottom: 30px;
}

.price_col_row {
  margin-top: 5px;
}

@media (max-width: 768px) {
  .price_col {
    width: 190px;
    height: 143px;
  }

  .button_row {
    margin-top: -14px;
    margin-left: 5px;
  }

  .button_price {
    margin-top: -10px;
  }
}

@media (max-width: 320px) {
  .price_column {
    flex-wrap: wrap;
  }

  .price_col {
    width: 131px;
    height: 108px;
    margin-top: 5px;
  }

  .col_1 {
    margin-bottom: -10px;
  }

  .price_col_row {
    font-weight: 500;
  }

  .col_3 {
    margin: 0px auto;
  }

  .button_price {
    margin-top: 60px;
  }
}

body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 0px auto;
}

.container2 {
  margin-top: 30px;
  max-width: 850px;
  margin: 0px auto;
}

input,
button {
  border: none;
  font-family: inherit;
}

button,
input[type=submit] {
  cursor: pointer;
  background: none;
}

input:focus,
button:focus {
  outline: none;
}

@media (max-width: 768px) {
  .container {
    max-width: 744px;
  }

  .container2 {
    max-width: 634px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 296px;
  }

  .container2 {
    max-width: 276px;
  }

  body {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
}

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
}

h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

h6 {
  width: 78px;
  height: 12px;
  left: 160px;
  top: 201px;
  opacity: 0.5;
}

@media (max-width: 320px) {
  h1 {
    font-size: 20px;
    line-height: 24px;
  }

  h2 {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
  }

  h4 {
    font-size: 12px;
    line-height: 15px;
  }
}

/*# sourceMappingURL=style.css.map */