.feedback {
  margin-top: 60px;
}

.feedback_row {
  position: relative;
}

.feedback_text {
  position: absolute;
  color: $colorW;
  margin-top: 22px;
  margin-left: 20px;

}

.form {
  position: absolute;
  margin-top: 47px;
  right: 50px;
}

.feedback_background {
  margin-top: 10px;
  width: 850px;
  height: 250px;
  background-color: $colorB;
  border-radius: 20px;
}






.feedback_text_h4 {
  margin-top: 5px;
  margin-left: 30px;
  width: 403px;
}



.feedback_email {
  margin-top: 100px;
}

.form_li {
  list-style-type: none;

  input {
    border: 1px solid $colorW;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 232px;
    height: 35px;
    background-color: $colorB;
    padding-left: 10px;
    color: $color_grey;
  }

  input::placeholder {
    color: $color_grey;

  }
}

@media (max-width: 768px) {
  .feedback_background {
    width: 634px;
    height: 240px;
  }

  .feedback_text_h4 {
    margin-left: 0px;
    width: 344px;
  }

  .form {
    margin-top: 20px;
    right: 10px;
  }

  .feedback {
    margin-top: 60px;
  }

  .feedback_email {
    margin-top: 60px;
  }
}

@media (max-width: 320px) {
  .feedback_background {
    width: 276px;
    height: 340px;
  }

  .feedback_text {
    margin-left: 10px;
    margin-top: 10px;
  }

  .feedback_text_h4 {
    margin-left: 0px;
    width: 264px;
  }

  .form {
    padding-top: 121px;
    margin: 0px auto;
  }

  .feedback_email {
    margin-top: 202px;
  }

  .feedback {
    margin-top: 90px;
  }

}