.header {}


.header_row {
  position: relative;
}

.header_title {
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
  color: white;
}

.header_title2 {
  position: absolute;
  color: white;
  margin-top: 75px;
  margin-left: 25px;
}

.header_img {}