.header_row {
  position: relative;
}

.header_title {
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
  color: $colorW;
}

.header_title2 {
  position: absolute;
  color: $colorW;
  margin-top: 75px;
  margin-left: 25px;
}

.button_header {

  margin-left: 810px;
  line-height: 30px;
  margin-top: 365px;
}