.mystery_box {
  margin-top: 26px;
}

.box_info {
  margin-top: 10px;
}

.box_info2 {
  margin-left: 23px;
  margin-top: 5px;
}


.calc_column {
  display: flex;
  //align-items: center;

}

.calc_column_row {
  display: flex;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 27px;
  flex-wrap: wrap;
}

.calc_but {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.calc_input {
  width: 40px;
  height: 24px;
  background-color: $color_grey;
  text-align: center;
  border-radius: 5px;
}

.calc_column1 {
  @include in_column;
  gap: 10px;
}

.calc_column2 {
  @include in_column;
  gap: 22px;
  margin-top: 5px;
  margin-left: 10px;
}

.calc_column3 {
  @include in_column;
  gap: 10px;
  margin-left: 23px;
}

.calc_column4 {
  @include in_column;
  gap: 10px;
  margin-left: 40px;
}

.calc_column5 {
  @include in_column;
  gap: 10px;
  margin-left: 36px;
}

.calc_column6 {
  margin-left: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}

@media (max-width:768px) {
  .box_info2 {
    margin-left: 15px;
  }

  .button_calc {
    margin-top: 12px;
    margin-left: -12px;
  }

  .calc_column_row {
    margin-left: 12px;
  }

  .calc_column6 {
    margin-left: 59px;
  }
}

@media (max-width: 320px) {
  .calc_column_row {
    margin-top: 45px;
    margin-left: 7px;
  }

  .calc_column1 {
    h2 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }
  }

  .calc_column3 {
    margin-left: -25px;
  }

  .calc_column4 {
    margin-left: 15px;
  }

  .calc_column5 {
    margin-left: 11px;
  }

  .calc_column6 {
    margin-top: 10px;
    margin-left: 39px;

    h2 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }
  }

  .button_calc {
    margin-left: 8px;
    margin-top: 3px;
  }

  .basement_calc {
    margin-top: 38px;
  }
}