.nav {
  padding-top: 10px;
  padding-bottom: 0%;
}

.nav_row {
  @include in_one_lineal;
}

.logo {
  display: flex;
  align-items: center;
}

.navigation_list {
  ul {
    display: flex;
  }

  li {
    list-style-type: none;
  }

  li:not(:last-child) {
    margin-right: 30px;
    font-weight: bolder;

  }

  .nav_link {
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    position: relative;
    transition: opacity 0.3s linear;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1.5px;
      background-color: $colorB;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      opacity: 0;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}