.rad_nom1 {
  @include in_rad;
  position: relative;
}

.rad_nom2 {
  @include in_rad;
  margin-top: 30px;
  position: relative;
}

.h5_r {
  margin-top: 0;
  margin-bottom: 10px;
}

.card_tov {
  text-decoration: none;
  color: inherit;
  transition: filter 0.5s ease-in;

  &:hover {
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.25));
  }
}