.price_column {
  @include in_rad;
}

.price {
  margin-top: 28px;
}

.price_col {
  margin-top: 10px;
  width: 232px;
  height: 101px;
  margin-bottom: 30px;
}

.price_col_row {
  margin-top: 5px;
}

@media (max-width: 768px) {
  .price_col {
    width: 190px;
    height: 143px;
  }

  .button_row {
    margin-top: -16px;
    margin-left: 5px;
  }

  .button_price {
    margin-top: -10px;
  }
}

@media (max-width: 320px) {
  .price {
    margin-top: 21px;
  }

  .price_column {
    flex-wrap: wrap;
  }

  .price_col {
    width: 131px;
    height: 108px;
    margin-top: 5px;
  }

  .col_1 {
    margin-bottom: 3px;
  }

  .price_col_row {
    // исправить шрифты
    font-weight: 500px;
  }

  .col_3 {
    margin: 0px auto;
  }

  .button_price {
    margin-top: 47px;
  }
}