//Для шрифтов

h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
}


h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

h4 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

h5 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

h6 {
  width: 78px;
  height: 12px;
  left: 160px;
  top: 201px;
  opacity: .5;

}

@media (max-width: 320px) {
  h1 {
    font-size: 20px;
    line-height: 24px;
  }


  h2 {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
  }


  h4 {
    font-size: 12px;
    line-height: 15px;
  }

}